<mat-toolbar class="flex justify-between">
  <span>Resume Builder</span>
  <div class="flex items-center justify-end">
    <button mat-button>Resume</button>
    <button mat-button>Cover Letter</button>

    <!-- Vertical line -->
    <div class="h-8 w-px bg-gray-300 mx-10"></div>

    <button mat-stroked-button><span class="uppercase">Log in</span></button>
    <button mat-flat-button class="ml-2">
      <span class="uppercase">Build resume</span>
    </button>
  </div>
</mat-toolbar>

<div class="grid grid-cols-2 gap-4">
  <div class="pl-32 flex flex-col justify-center app-content-height">
    <div class="mat-display-large opacity-80">
      Create a resume that secures your dream
    </div>

    <div class="mat-title-large opacity-80">
      Create a resume that secures your dream
    </div>

    <div class="w-auto uppercase pt-7">
      <button mat-flat-button>Build resume</button>
    </div>
  </div>

  <app-resume-thumbnails></app-resume-thumbnails>
</div>

<div class="p-32">
  <div class="mat-display-large text-center opacity-80">
    Create a resume that secures your dream
  </div>

  <div class="grid grid-cols-3 gap-4">
    @for (item of items; track $index) {
    <div class="flex flex-col items-center">
      <img class="h-80" [src]="item.image" alt="" />
      <div class="mat-headline-medium text-center pt-5 opacity-80">
        {{ item.title }}
      </div>
      <div class="mat-body-large px-16 text-center opacity-80">
        {{ item.subtitle }}
      </div>
    </div>
    }
  </div>
</div>

<!-- Cover letter-->
<div class="grid grid-cols-2 gap-4 px-32 py-44 bg-gray-50">
  <div class="flex justify-center items-center">
    <div class="relative w-72 h-72">
      <img
        class="absolute left-[-50px] w-52 rotate-[-25deg] z-10 shadow-xl"
        src="https://d.novoresume.com/images/doc/creative-resume-template.png"
        alt="Creative Resume Template"
      />
      <img
        class="absolute left-1/2 transform -translate-x-1/2 translate-y-[-10px] w-52 rotate-[0deg] z-20 shadow-xl"
        src="https://d.novoresume.com/images/doc/basic-resume-template.png"
        alt="Basic Resume Template"
      />
      <img
        class="absolute right-[-50px] w-52 rotate-[25deg] z-30 shadow-xl"
        src="https://d.novoresume.com/images/doc/combined-resume-template.png"
        alt="Combined Resume Template"
      />
    </div>
  </div>

  <div>
    <div class="mat-display-large opacity-80 mb-4">
      Create a cover letter that secures your dream
    </div>
    <div class="mat-headline-medium opacity-80 mb-6">
      Create a resume that secures your dream
    </div>
    <button mat-flat-button class="ml-2">
      <span class="uppercase">Create your Cover Letter</span>
    </button>
  </div>
</div>

<!-- Why choose us -->
<div class="px-32 py-44">
  <div class="mat-display-large opacity-80 text-center">Why choose us?</div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    @for (item of whyChooseUsTiles; track $index) {
    <div class="flex items-center">
      <img [src]="item.image" class="w-16 h-16 mr-4" [alt]="item.title" />
      <div>
        <div class="mat-title-medium">{{ item.title }}</div>
        <div class="mat-body-large">{{ item.subtitle }}</div>
      </div>
    </div>
    }
  </div>
</div>

<!-- About the creators -->
<div class="px-32 pb-16 pt-44">
  <div class="mat-display-large opacity-80 text-center">About the creators</div>
  <div class="mat-body-large opacity-80 text-center">
    Our mission is to provide a free, open-source resume-building platform that
    empowers individuals from all backgrounds to craft compelling resumes
    without financial barriers. We believe that everyone deserves the
    opportunity to present their skills and experiences effectively. By
    leveraging open-source technology, we foster collaboration and innovation,
    allowing users to customize their resumes while contributing to a
    community-driven project. Our goal is to make resume creation accessible,
    flexible, and user-friendly, helping job seekers navigate their career paths
    with confidence. You can clone this project
    <a class="underline font-bold" href="https://github.com/manozzreddy">here</a
    >.
  </div>

  <div class="flex items-center justify-center mt-10">
    <div class="flex flex-col items-center mx-10">
      <div
        class="w-32 h-32 rounded-full overflow-hidden border-2 border-gray-300"
      >
        <img
          src="assets/images/manoj.png"
          alt="Manoj"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="mat-body-large mt-2">Project developed by Manoj</div>
      <a
        href="https://github.com/manozzreddy"
        class="mat-label-large underline mt-2"
      >
        Github
      </a>
    </div>

    <div class="flex flex-col items-center mx-10">
      <div
        class="w-32 h-32 rounded-full overflow-hidden border-2 border-gray-300"
      >
        <img
          src="assets/images/lokesh.png"
          alt="Lokesh"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="mat-body-large mt-2">Project designed by Lokesh</div>
      <a
        href="https://your-portfolio-link.com"
        class="mat-label-large underline mt-2"
      >
        View Portfolio
      </a>
    </div>
  </div>
</div>

<div class="h-80 bg-gray-50"></div>
