<div class="flex flex-col items-center">
  <div class="w-32 h-32 rounded-full overflow-hidden border-2 border-gray-300">
    <img
      [src]="imageUrl"
      [alt]="contributorInfo"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="mat-body-large my-2">{{ contributorInfo }}</div>

  <div class="flex gap-3">
    @if(linkedinUrl){
    <a [href]="linkedinUrl" target="_blank" class="w-5 h-5">
      <img src="assets/images/linkedin.svg" alt="Linkedin" />
    </a>
    } @if(githubUrl){
    <a [href]="githubUrl" target="_blank" class="w-5 h-5">
      <img src="assets/images/github.svg" alt="Github" />
    </a>
    }@if(portfolioUrl){
    <a [href]="portfolioUrl" target="_blank" class="w-5 h-5">
      <img src="assets/images/globe.png" alt="Portfolio" />
    </a>
    }
  </div>
</div>
