<div class="grid grid-cols-2 gap-4">
  <div>
    <form [formGroup]="resumeForm">
      <mat-form-field class="m-1">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>

      <mat-form-field class="m-1">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field class="m-1">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="m-1">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>

      <mat-form-field class="m-1">
        <mat-label>Professional Summary</mat-label>
        <textarea matInput formControlName="professionalSummary"></textarea>
      </mat-form-field>
    </form>
  </div>

  <div>
    <iframe
      title="Resume Crafter"
      src="https://dynamic-array-resume-crafter.web.app/"
      style="width: 100%; height: 100vh; border: none"
    >
    </iframe>
  </div>
</div>
