<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-10 lg:h-full">
  <form
    [formGroup]="resumeForm"
    class="p-3 md:p-5 lg:p-7 grid gap-y-8 pb-10 lg:overflow-y-auto"
  >
    <app-personal-details-form
      (personalDetailsFormReady)="subFormControlReady($event)"
    ></app-personal-details-form>
    <app-professional-summary-form
      (professionalSummaryFormReady)="subFormControlReady($event)"
    ></app-professional-summary-form>
    <app-employment-history-form
      (employmentHistoryFormArrayReady)="subFormControlReady($event)"
    ></app-employment-history-form>
    <app-education-form
      (educationFormArrayReady)="subFormControlReady($event)"
    ></app-education-form>
    <app-websites-social-links-form></app-websites-social-links-form>
    <app-skills-form
      (skillsFormArrayReady)="subFormControlReady($event)"
    ></app-skills-form>
  </form>

  <app-resume-preview></app-resume-preview>
</div>
